
.box {

    &-image {

        &:first-child {
            flex: 1 1 calc(50% + #{$gap});
        }

        background: $color-green;
        min-height: 14rem;
        padding: 2rem;
        h1 {
            font-size: 1.4rem;
            color: $color-white;            
        }
    }
}