/*****************************************************************/
/* ANCHOR Colors */


$color-green: #025d4c;
$color-blue: #1a0f8f;
$color-grey--light: #F3F3F3;
$color-grey--middle: #B8B8B8;
$color-grey--dark: #707070;

$color-white: #fff;