/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Additonal Base Stylesheets */
:root {
  --breakpoint-800: 800;
  --breakpoint: 800px;
}

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  touch-action: none;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  padding: 5;
  justify-content: center;
  align-content: flex-end;
  gap: 2.0408vw;
  overflow: hidden;
}

.screen {
  background: #fff;
  width: 48.9796vw;
  height: 48.9796vw;
  margin-top: 0px;
}
.screen .wrapper {
  height: 100%;
  position: relative;
}
.screen-left {
  background: #000;
}
.section {
  position: relative;
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0s, height 0s ease;
}
.section.show {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s, 0s;
}
.section .content {
  height: 100%;
  position: relative;
}
.section-start .content {
  padding: 20vh 10vh;
}
.section-draw .content {
  padding: 5%;
  position: relative;
  text-align: center;
}
.section-draw .content .draw {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 0;
}
.section-draw .content .draw .button {
  width: 4vh;
}
.section-draw .draw-area {
  margin-top: 2rem;
  border: 2px solid #000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
.section-keyboard input {
  background-color: #f5f5f5;
  width: 40vh;
  position: absolute;
  top: 20vh;
  left: 50%;
  box-shadow: inset 0 0 8px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transform: translateX(-50%);
  border: 0;
  border-radius: 20px;
  font-size: 3rem;
  caret-color: blue;
}
.section-keyboard .simple-keyboard {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: auto;
  position: absolute;
  bottom: 40%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2509803922));
}
.section-keyboard .simple-keyboard.hg-theme-default .hg-button {
  height: 4vh;
  font-size: 80%;
}
.section-video .video-container {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.section-video .video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100vh;
}

.menu-main {
  z-index: 10;
  position: absolute;
  top: 10vh;
  right: 10vh;
}
.menu-main a.active {
  text-decoration: underline;
}

/*
This file is used to contain all components imports.
Files inside this folder can contain global styles used in the project.
*/
/*****************************************************************/
/* ANCHOR Colors */
html {
  font-size: 100%;
  background: #fff;
}

body {
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2rem;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 0.25em 0;
}

h2 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 3.5em;
}

p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-weight: 500;
  padding: 0.2em 0 0.2em 0.4em;
}

a {
  color: #000;
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  background: #f5f5f5;
  border-style: solid;
  border-width: 0;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 5px;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  padding: 5px 10px;
  font-size: 1.2rem;
}
.button:hover {
  background: #eee;
}

/* Additonal Blocks Stylesheets *//*# sourceMappingURL=master.css.map */